<article>
    <header>
        <nav>
            <div class="header-container">
                <div class="header-elements-container">
                    <div class="input-container">
                        <div class="search-button">
                            <img [src]="ImgLogo" routerLink="/" alt="SRC company logo">
                            <!-- <fa-icon [icon]="faSearch" size="lg"></fa-icon> -->
                        </div>
                        <input (keyup)="onSearchChange($event.target.value)" [(ngModel)]="filter" type="text" placeholder="Search by anything...">
                    </div>
                    <div class="button-container">
                        <div class="sort-button">
                            <select #sortSelect (change)="onSortChange(sortSelect.value)" class="sort-select">
                                <option>Sort</option>
                                <option>Name</option>
                                <option>Age</option>
                                <option>Position</option>
                                <option>Employment</option>
                                <option>Salary</option>
                            </select>
                            <fa-icon [icon]="faAngleDown" id="sort-icon"></fa-icon>
                        </div>
                        <div class="add-button" routerLink="/employees/add">Add</div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <router-outlet (activate)="onActivate($event)"></router-outlet>

    </main>
</article>